/* .searchbar {
    width: 1000px;
  } */
  
  .refresh {
    margin-left: 10px;
    font-size: 25px;
  }
  
  .product-count {
    /* width: 1000px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin: 20px auto;
    font-weight: 700;
    font-size: 13px;
    color: gray;
  }
  
  .gallery {
    /* width: 1000px; */
    min-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
  
  .pagination {
    height: 6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -250px;
    margin-right: 15px;
    margin-left: 15px;
  } 
  